REACT_APP_ZOHO_LOGIN_REDIRECT_URI="https://accounts.zoho.com/oauth/v2/auth?scope=ZohoCRM.users.ALL,ZohoCRM.bulk.All,ZohoCRM.org.ALL,ZohoCRM.settings.ALL,ZohoCRM.settings.variables.ALL,ZohoCRM.modules.ALL&client_id=1000.WHF0S5ZXBUZFP4RN1AB1NYQR5H3YAT&response_type=code&access_type=offline&redirect_uri=https://delugeonaluge.com/mobile-app/dev/public/api/zoho-auth"
REACT_APP_BACKEND_BASE_URI="https://delugeonaluge.com/mobile-app/dev/public"
